@using AccessModels
@model IEnumerable<AccessModels.Models.StudentToHomework>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentUserID)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.UploadID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
      
      
        
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentUserID)
        </td>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.UploadID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadDate)
        </td>
        
        
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        
    </tr>
}
    
    

 
    
    

</table>
