@model IEnumerable<BusinessLayer.Models.StudentVM>



<div class="container">

    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <table class="table">
                <thead>
                    <tr class="success">
                        <th>@Html.DisplayNameFor(model => model.StudentName)</th>
                        <th>@Html.DisplayNameFor(model => model.StudentID)</th>
                        <th>@Html.DisplayNameFor(model => model.StudentEmail)</th>                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="info">
                            <td>@Html.DisplayFor(modelItem => item.StudentName)</td>
                            <td>@Html.DisplayFor(modelItem => item.StudentID)</td>
                            <td>@Html.DisplayFor(modelItem => item.StudentEmail)</td>                         
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>    

</div>
