@model TeamA.Models.TeacherVM

@{
    ViewBag.Title = "CreateTeacher";
}

   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<div class="container">
    <div class="page-header">
        <h1>Create Teacher</h1>
    </div>
</div>



@using (Html.BeginForm("CreateTeacher","Admin")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
 
    <div class="container">
  
  <div class="panel panel-default">
    <div class="panel-body">
        <form role="form">           
            <div class="form-group">
                <label for="usr">Username</label>
                <input type="text" name="username" class="form-control" id="usr" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" id="email4" placeholder="Enter email">
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#email4').email();
                    });
                </script>

            </div>       
                <p>
                    @*<button type="button" class="btn btn-primary">Create Account</button>*@
                    <input type="submit" class="btn btn-primary" value="Create new Teacher Account">
                    @*<input type="submit" value="Create" />*@
                </p>
     
        </form>

    </div>

  </div>
</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    @*<div class="container">
  
  <div class="panel panel-default">
      <div class="panel-body">
          <form role="form">
              <div class="form-group">
                  <label for="usr">Problem Description</label>
                  <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email">

                  <script>
                      $(document).ready(function () {
                          $('#email').email();
                      });
                  </script>
                  </div>
          </form>
     

            </div>   
      </div>    
                <p>
                    <input type="submit" value="Create" />
                </p>
     
        

    </div>
    </body>*@

    
        @*<legend>TeacherVM</legend>
        <div class="container">
            <h3>Create a Teacher Account</h3>
            <form role="form">
                <div class="form-group">
                    <label for="usr">Username:</label>
                    <input type="text" class="form-control" id="usr" placeholder="Enter username">
                </div>
        </div>
                

                <div class="col-sm-4 col-xs-12">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email, new { @class = "editor-field", @placeholder = "insert email" })
                    @Html.ValidationMessageFor(model => model.Email)

                </div>
                <div class="editor-field">
                    <input type="submit" id="submit" value="subscribe" class="btn btn-default" />
                </form>
                </div>
    </body>*@

            
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


