@model IEnumerable<BusinessLayer.Models.AccountVM>

@{
    ViewBag.Title = "ViewAllStudents";
}

<div class="container">
    <div class="page-header">
        <h1>All Students</h1>
    </div>
    
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr class="success">
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.IsConfirmed)</th>
                <th>Reset Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="info">
                    <td class="userNameDiv">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsConfirmed)</td>
                    <td>
                        @using (Html.BeginForm("SendMailWithPassword", "Admin", new { username = item.UserName }, FormMethod.Post))
                        {
                            <button type="button" class="btn btn-primary btn-xs resetStudButton" onclick="">Reset</button>
                           @*<input type="submit" name="name" class="btn btn-primary btn-xs resetStudButton" value="Reset" />*@
                        }               
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".resetStudButton").click(function () {
            var Username = $(this).closest("tr").children(".userNameDiv")[0].innerText;
            var mvcURL = "/Admin/SendMailWithPassword"
            $.ajax({
                url: mvcURL,
                data: { username: Username },
                type: 'POST',
                success: function (data, status, jqXHR) {
                    alert("Succesfull reset! Yay!");
                },
                error: function (error) {
                    alert('error; ');
                }
            })

        })
    })
</script>