@model IEnumerable<BusinessLayer.Models.AccountVM>

@{
    ViewBag.Title = "ViewAllStudents";
}

<div class="container">
    <table class="table">
        <thead>
            <tr class="success">
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.IsConfirmed)</th>
                <th>Reset Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="info">
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsConfirmed)</td>
                    <td>
                        @using (Html.BeginForm("SendMailWithPassword", "Admin", new { username = item.UserName }, FormMethod.Post))
                        {
                            <input type="submit" name="name" class="btn-default" value="Reset" />
                        }               
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>