<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width " />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/Scripts/jquery.datetimepicker.full.js")
        @Styles.Render("~/Content/jquery.datetimepicker.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/BootstrapJS")

    </head>
    <body>
        <div class="container">
            <h2>Welcome!</h2>
            
            <ul class="nav nav-tabs">
                <li>@Html.ActionLink("Home", "Index", "Admin", new { data_toggle = "pill" })</li>
                <li>@Html.ActionLink("View All Teachers", "ViewAllTeachers", "Admin", new  { data_toggle="pill" })</li>
                <li>@Html.ActionLink("View All Students", "ViewAllStudents", "Admin", new { data_toggle = "pill" })</li>                        
            </ul>            
        </div>
  

        <div class="container">

            <div class="panel panel-default">
                <div class="panel-body">
                    @RenderSection("featured", required: false)
                    @RenderBody()
                </div>
            </div>

            @*<div id="body">

                <section class="content-wrapper main-content clear-fix">

<<<<<<< HEAD

=======
                </section>
            </div>*@
            <footer>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                    </div>
                </div>
            </footer>
        </div>
>>>>>>> 74a98cb4588eb521e5e009a8168410f1013872e9
    </body>
</html>
